<footer id="footer" class="footer d-flex flex-column align-items-center justify-content-center  w-100 px-3 py-4 text-center">
        <div class="footer-content">

            <p>Buscá, subí y organizá tus documentos en un solo lugar.</p>

            <nav class="footer-links" aria-label="Enlaces del pie de página">
                <ul class="d-flex flex-wrap justify-content-center list-unstyled gap-4 mb-0">
                    <li><a href="#">Inicio</a></li>
                    <li><a href="/secciones/ayuda.html"><i class="bi bi-question-circle-fill"></i> Ayuda</a></li>
                    <li><a href="/secciones/acercaDe.html"><i class="bi bi-person-workspace"></i> Nosotros</a></li>
                </ul>
                <ul class="d-flex flex-wrap justify-content-center list-unstyled gap-4 mb-0">
                    <li><a href="https://www.youtube.com/@licytecutnfrt"><i class="bi bi-youtube"></i> YouTube</a></li>
                    <li><a href="#"><i class="bi bi-envelope-at-fill"> Email</i></a></li>
                    <li><a href="https://www.instagram.com/tecnicatura_licenciatura_utn/"><i class="bi bi-instagram"></i> Instagram</a></li>
                </ul>
            </nav>
        </div>

        <p class="mb-0 mt-3">
            © 2026 Biblioteca — Proyecto de prueba
        </p>
    </footer>