<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Profesores de las Tecnicaturas - Biblioteca virtual UTN-FRT">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/style.css">
    <title>Profesores | FRT-UTN Biblioteca Digital</title>
</head>

<body>
    <header class="header">
        <nav class="navbar navbar-expand-md" aria-label="Navegación principal">
            <div class="container-fluid">
                <a class="navbar-brand logo" href="index.html"><span class="logo-color1">Biblio</span><span
                        class="logo-color2">teca</span></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ms-auto gap-4 me-5">
                        <li class="nav-item"><a class="nav-link" href="index.html">Inicio</a></li>
                        <li class="nav-item"><a class="nav-link" href="tecnicaturas.html">Tecnicaturas</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page"
                                href="profesores.html">Profesores</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">Cuenta</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Mi perfil</a></li>
                                <li><a class="dropdown-item" href="#">Subir</a></li>
                                <li><a class="dropdown-item" href="#">Cerrar sesión</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main class="container my-5 px-4 pb-5 pt-5">
        <div id="banner-filtro" class="alert d-none text-center rounded-4 mb-4 border border-white border-opacity-10">
            <div class="d-flex justify-content-center mt-4">
                <button id="btn-limpiar-filtro" class="btn btn-Profesor btn-sm ms-3">profesores</button>
            </div>
            <br>
            <span id="texto-filtro" class="fs-5"></span>
        </div>

        <section id="profesores" class="my-5">
            <h2 id="titulo-profesores" class="text-center py-2 rounded-4 mb-4">Profesores</h2>

            <div id="contenedor-profesores"
                class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 justify-content-center">

            </div>
        </section>

        <section id="seccion-recursos" class="my-5 pt-4 d-none">
            <h2 id="titulo-recursos" class="text-center py-2 rounded-4 mb-4">Recursos de la Materia</h2>
            <div id="contenedor-recursos" class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 justify-content-center">
            </div>
        </section>
    </main>

    <footer class="footer d-flex flex-column align-items-center justify-content-center w-100 px-3 py-4 text-center">
        <p class="mb-0">© 2026 Biblioteca — Proyecto de prueba</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/components/js-Profesores.js"></script>
</body>

</html>